* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 600px;
    padding: 20px;
}

.whores-container {
    width: 210px;
    display: inline-block;
    background: #77d3ff;
    border-radius: 5px;
    padding: 10px 15px;

    ul {
        list-style: none;
    }

    li:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.add-form,
.edit-form {
    width: 200px;
    background: #ff8f8f;
    border-radius: 5px;
    padding: 10px 15px;

    .field {
        margin-bottom: 10px;

        input {
            width: 100%;
        }
    }

    .actions {
        text-align: right;
    }

    .btn {
        background: #3c312f;
        border: none;
        padding: 6px 17px;
        border-radius: 7px;
        color: white;
        cursor: pointer;
    }

    .add {
        background: #118e3d;
    }

    .save {
        background: #11668e;
    }

    .delete {
        background: #8e1111;
    }
}

.add-form-container,
.edit-form-container {
    display: inline-block;
    vertical-align: top;
}