body {
    background: #e7e5c8;
    width: 700px;
    margin: auto;
    overflow-x: hidden;

}

.header {
    height: 83px;
    position: relative;
    border-bottom: 1px solid #c0bd9a;
}

.header img {
    padding-left: 20px;
    padding-top: 25px;
}

.phone {
    background: url(../images/phone.png) no-repeat;
    width: 165px;
    height: 70px;
    position: absolute;
    padding-top: 20px;
    padding-left: 110px;
    background-size: contain;
    right: -30px;
    display: inline-block;

}

.text {
    font: 14px "Times New Roman", Times, serif;
    color: #f1f0e0;
    font-weight: bold;
}

.phone p {
    position: relative;
    left: 10px;
    margin: 0px;
}

.body_text {
    border-bottom: 1px solid #c0bd9a;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.main_text {
    font: 11px Tahoma, Arial, sans-serif;
    color: #969473;
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.main_text h3 {
    font: 14px "Times New Roman", Times, serif;
    color: #6a684d;
    font-weight: bolder;
    padding-left: 10px;
}

.letter {
    color: #90aa1f;
}

.inve {
    color: #869a28;
    text-decoration: underline;
}

.footer {
    width: 100%;
    position: relative;
    background-color: #dedbbb;
}

.footer-containers {
    display: inline-block;
    padding-left: 15px;
}

.footer-containers h4 {
    font: 14px "Times New Roman", Times, serif;
    color: #6e6b3d;
    font-weight: bolder;
}

.gallery {
    width: 220px;
}

.gallery img {
    border: 4px solid #b7b192;
    border-right: 18px solid #b7b192;
    border-radius: 4px;
}

.offer {
    width: 220px;
    border-right: 1px solid #c0bd9a;
    border-left: 1px solid #c0bd9a;
    padding-right: 5px;
}

.offer img {
    border: 4px solid #b7b192;
    border-radius: 4px;
}

.offer p {
    font: 11px Tahoma, Arial, sans-serif;
    color: #6a684d;
}

.ipsum {
    color: #6a6847;
    font-weight: bolder;
}

.offer span {
    font-weight: bolder;
}

.services {
    background: url(../images/elephant.jpg) no-repeat;
    background-position: right, bottom;
    vertical-align: top;
    width: 200px;
}

#letter {
    color: #90aa1f;
}

.text_container {
    width: 135px;
}

.services ul {
    text-decoration: underline;
    font: 11px Tahoma, Arial, sans-serif;
    color: #6a6847;
}

.green_underline {
    color: #90aa1f;
    text-decoration: underline;
}

.services h5 {
    font: 11px Tahoma, Arial, sans-serif;
    color: #6e6b3d;
}

.last_line {
    position: relative;
}

.last_line img {
    padding-left: 20px;
    padding-top: 25px;
}

.contacts {
    vertical-align: top;
    background: url(../images/map.jpg) no-repeat;
    width: 195px;
    position: absolute;
    padding-left: 110px;
    background-size: contain;
    display: inline-block;
    right: 10px;
}

.contacts h3 {
    font: 14px "Times New Roman", Times, serif;
    color: #6a684d;
    font-weight: bolder;
    padding-left: 10px;
}

.contacts p {
    font: 11px Tahoma, Arial, sans-serif;
    color: #6a684d;
}

/*
    Цвета и семейство шрифтов используемых на сайте
    Удалить в конце разработки
*/
#delete-after-development {

    color: #f9f9f2;
    color: #f5f7f9;

    color: #727056;
    color: #888665;;

}