body {
    color: #424242;
    font: 14px Arial, Helvetica, sans-serif;
    margin: 0;

}

.site_menu{
    width: 980px;
    margin: auto;
    height: 140px;
}

.buttons_menu{
    display: inline-block;
    width: 138px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    padding-top: 56px;
}

.about_us{
    margin-left: 180px;
    border-top: #ff7800 16px solid;
}

.contact_us{
    border-top: #1e3436 16px solid;
}

.offers{
    border-top: #319aa3 16px solid;
}

.buttons_menu :active{
    border-top: #d9d9d9 16px solid;
    background-color: #d9d9d9;
}


.top_text{
    height: 130px;
    color: #fff;
    background-color: #3f3f3f;
}

.body_text{
    width: 980px;
    margin: auto;
}

.background_img{
    width: 150px;
    height: 150px;
    position: absolute;
    background: url("../images/100_2.gif") no-repeat, url("../images/shadow.png") no-repeat;
    margin-left: 670px;
}

.body_text h1{
    padding-top: 10px;
}

.body_text span{
    display: inline-block;
    width: 550px;
    border-left: #646464 10px solid;
    padding-left: 20px;
    margin-bottom: 10px;
}

.top_text img{
    display: inline-block;
}

.main_text{
    width: 980px;
    margin: auto;
}

.main_text span{
    display: block;
    border-left: #efefef 10px solid;
    padding-left: 20px;
    margin-bottom: 20px;
    width: 380px;
    margin-bottom: 20px;
}

.p1_img{
    width: 85px;
    height: 85px;
    position: absolute;
    margin-top: 20px;
    margin-left: 420px;
    background: url("../images/p1.jpg") no-repeat;


}

.p2_img{
    width: 85px;
    height: 85px;
    position: absolute;
    margin-left: 420px;
    background: url("../images/p2.jpg") no-repeat;
}

.copyright{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 38px;
    background-color: #343434;
    color: #fff;
    text-align: center;
    padding-top: 12px;
}

form{
    display: block;
}
