* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #473B38;
}

.page {
    width: 950px;
    margin: 0 auto;
    min-height: 100%;
    padding-bottom: 130px;
    position: relative;

    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.header {
    border-bottom: #6a5455 2px solid;
    margin: 20px 0 30px;
    padding-bottom: 20px;
}

.site_menu {
    display: inline-block;
    float: right;
    text-decoration: none;
    margin-top: 50px;

    a {
        font-size: 12px;
        color: #decacb;
        text-decoration: none;
        padding-top: 6px;
        margin-left: 25px;

        &:hover,
        &:active{
            border-top: #594546 8px solid;
        }
    }
}

.sticker {
    width: 402px;
    border: #7f5e60 1px solid;
    position: relative;
    left: -120px;
    color: #decacb;
    background: #594546;
    padding: 26px 20px 26px 105px;

    h6 {
        font-size: 18px;
    }

    h5 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    p {
        font-size: 12px;
        margin-bottom: 5px;
    }
}

.contact_us {
    margin-top: 28px;
    width: 280px;
    border-radius: 8px;
    background: #3c322f;
    padding: 25px 10px 44px;
    color: #988c8b;
    font-size: 12px;
    line-height: 150%;


    p{
        &:nth-child(2){
            width: 174px;
            color: #ffffff;
            padding: 34px 0;
        }
    }
}

.send_form {
    width: 250px;
    margin: 45px 4px;
    padding: 10px 0;
    border-radius: 4px;
    border: #54c0d0 1px solid;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    background:  linear-gradient(#54c0d0, #1790a2);
    text-shadow: -1px -1px #1e3436 ;
}

.left_content{
    display: inline-block;
    width: 280px;
}

.right_content{
    display: inline-block;
    width: 660px;
    vertical-align: text-top;
    float: right;
    margin-bottom: 20px;
}

.all_pages_main_content{
    background: url("../images/2.jpg")no-repeat;
    padding-left: 290px;

    h2{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #74c4d9;
        margin: 0 0 20px 70px;
    }

    form {
        width: 340px;
        font-size: 12px;
        color: #decacb;
        text-align: right;

        input {
            height: 20px;
            margin: 0 20px 10px;
            border: 1px #74c4d9 solid;
        }

        button {
            margin-top: 20px;
        }
    }
}

.main_information{
    margin: 20px;

    h2 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #74c4d9;
    }

    p {
        font-size: 12px;
        color: #decacb;
        margin-top: 20px;
        line-height: 150%;
    }

    ol{
        font-size: 12px;
        color: #decacb;
        margin-top: 20px;
        line-height: 150%;
    }

    h3 {
        color: #ffffff;
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: #ffffff;
        font-size: 12px;
        float: right;

        &:hover {
            text-decoration: underline;
        }
    }
}

.logotips_images {
    a {
        float: left;
        border: #3c312f 10px solid;
        margin: 18px 0 0 18px;
    }
}

.footer {
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #6A5455;
    height: 120px;
    vertical-align: text-top;

    a {
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        color: #ffffff;
        margin-left: 10px;
        margin-top: 40px;

        &:hover {
            text-decoration: underline;
        }
    }
}

