$content_width: 1000px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana;
    width: 100%;
}

.site_menu {
    width: $content_width;
    margin: auto;
 }

/*
    Для заголовка "Карта рынка труда России" используется
    font-family: "Times New Roman";
*/

.footer {
    font-family: Tahoma;
}
